<h1>Users List</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Details</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>

<% @users.each do |user| %>
  <%= content_tag :tr, :class => (user.balance > 0 ? 'success' : 'danger') do %>
    <td><%= user.name %></td>
    <td><%= user.dollar_balance %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure? (action disabled)' } %></td>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
