<%= form_for(@split_expense) do |f| %>
  <% if @split_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@split_expense.errors.count, "error") %> prohibited this split_expense from being saved:</h2>

      <ul>
      <% @split_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lender %><br />
    <%= f.text_field :lender %>
  </div>
  <div class="field">
    <%= f.label :debtor %><br />
    <%= f.text_field :debtor %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :ds %><br />
    <%= f.date_select :ds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
