<h1>Listing split_expenses</h1>

<table>
  <tr>
    <th>Lender</th>
    <th>Debtor</th>
    <th>Label</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Ds</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @split_expenses.each do |split_expense| %>
  <tr>
    <td><%= split_expense.lender %></td>
    <td><%= split_expense.debtor %></td>
    <td><%= split_expense.label %></td>
    <td><%= split_expense.amount %></td>
    <td><%= split_expense.comment %></td>
    <td><%= split_expense.ds %></td>
    <td><%= link_to 'Show', split_expense %></td>
    <td><%= link_to 'Edit', edit_split_expense_path(split_expense) %></td>
    <td><%= link_to 'Destroy', split_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Split expense', new_split_expense_path %>
