<p id="notice"><%= notice %></p>

<p>
  <b>Lender:</b>
  <%= @split_expense.lender %>
</p>

<p>
  <b>Debtor:</b>
  <%= @split_expense.debtor %>
</p>

<p>
  <b>Label:</b>
  <%= @split_expense.label %>
</p>

<p>
  <b>Amount:</b>
  <%= @split_expense.amount %>
</p>

<p>
  <b>Comment:</b>
  <%= @split_expense.comment %>
</p>

<p>
  <b>Ds:</b>
  <%= @split_expense.ds %>
</p>


<%= link_to 'Edit', edit_split_expense_path(@split_expense) %> |
<%= link_to 'Back', split_expenses_path %>
